*{
    padding: 0;
    margin: 0;
    /* background-color: #050E20; */
    /* padding: 4rem; */
    box-sizing: border-box;
    
}
h1{
    /* color:white; */
    padding: 1rem;
}
button{
    background-color: #A14E71;
    border-color: #A14E71;
    color: white;
    padding: 1rem;
    margin: 1rem;
}

.form{
    padding: 4rem;
}

div{

    padding: 1rem;
}
.done{
display: inline-block;
background-color: #f10265;
color: white;
padding: 1rem;
text-decoration: none;

}

h4{
    
    padding: 1rem;
}

.live{
    display: inline-block;
background-color: #dacb27;
padding: 1rem;
text-decoration: none;

}

div .a{
    padding: 1rem;
    background-color: #e502f1;
}




/* 

#A14E71
#563551
#050E20

*/