*{
    padding: 0;
    margin: 0;
    /* background-color: #050E20; */
    /* padding: 4rem; */
    box-sizing: border-box;
    
}
h1{
    /* color:white; */
}
button{
    background-color: #A14E71;
    border-color: #A14E71;
    color: white;
    padding: 1rem;
    margin: 1rem;
}

.form{
    padding: 4rem;
}



/* 

#A14E71
#563551
#050E20

*/